<div class="container">
  <h2>Items</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Shipment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.desc %></td>
          <td><%= item.try(:shipment) %></td>
          <td>
            <%= link_to "Edit", edit_items_path(item), class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>